<div class="container-xl" style="padding-top: 10px;">
  <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#solicitud">Solicitud de Cese de Personal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#hojaruta">Hoja de Ruta</a>
        </li>
       
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane container active" id="solicitud">
            Solicitud de Cese de Personal

        </div>
        <div class="tab-pane container fade" id="hojaruta">
            Hoja de Ruta
        </div>
      </div>
</div>
