<div class="container pt-3"> 
  <div class="row">
    <div class="col-sm-8">
      <h1>Listado <span class="badge bg-secondary">de Solicitudes</span></h1>
    </div>
    <div class="col-sm-4">
        <div class="input-group">
            <div class="form-inline">
                <input type="search" id="form1" class="form-control" placeholder="Buscar..." />
            </div>
            <button type="button" class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</div>
      <table class="table ,nav-link active" id="ps1" >
        <thead> 
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Numero</th>
            <th scope="col">Estado</th>
            <th scope="col">Empleado</th>
            <th scope="col">Fecha Solicitud</th>
            <th scope="col">Fecha de Cese</th>
            <th scope="col">Acciones</th>    
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>SC-0000345</td>
            <td>Completo</td>
            <td>Medina Flores Carlos Alberto</td>
            <td>2021-08-12</td>
            <td>2021-08-15</td>
            <td>
                <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa-eye text-primary"></i></a>&nbsp;
                <a href="/asignacionherram/1" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa-edit text-warning"></i></a>&nbsp;
                <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa fa-lock text-info"></i></a>&nbsp;
                <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa-trash-o text-danger"></i></a>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>SC-0000346</td>
            <td>Pendiente</td>
            <td>Pozo Ramirez Joel</td>
            <td>2021-08-16</td>
            <td>2021-08-31</td>
            <td>
                <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa-eye text-primary"></i></a>&nbsp;
                <a href="/asignacionservicios/2" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa-edit text-warning"></i></a>&nbsp;
                <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa fa-unlock text-info"></i></a>&nbsp;
                <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa-trash-o text-danger"></i></a>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>SC-0000347</td>
            <td>En Proceso </td>
            <td>Bedon Salvador Alvaro Sebastian </td>
            <td>2021-08-15</td>
            <td>2021-08-31</td>
            <td>
                <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa-eye text-primary"></i></a>&nbsp;
                <a href="/resumenhojaruta/3" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa-edit text-warning"></i></a>&nbsp;
                <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa fa-unlock text-info"></i></a>&nbsp;
                <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa-trash-o text-danger"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>


