<div class="container pt-3"> 
  <div class="row">
    <div class="col-sm-8">
      <h1>Listado de Solicitudes</h1>
    </div>
</div>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead> 
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Numero</th>
            <th scope="col">Estado</th>
            <th scope="col">Empleado</th>
            <th scope="col">Fecha Solicitud</th>
            <th scope="col">Fecha de Cese</th>
            <th scope="col">Acciones</th>    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of solicitudes; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{s['numeroContrato']}}</td>
            <td>{{s['estadoSolicitud']}}</td>
            <td>{{s['nombresEmpleado']}}</td>
            <td>{{s['fechaSolicitud']}}</td>
            <td>{{s['fechaCese']}}</td>
            <td>
                <!-- <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa-eye text-primary"></i></a>&nbsp; -->
                <a href="/asignacionherram/1" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa-edit text-warning"></i></a>&nbsp;
                <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa fa-lock text-info"></i></a>&nbsp;
                <a href="#" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-lg fa-trash-o text-danger"></i></a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>


